{% extends "base.html" %}

{% block title %}11201 Ada Ave{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1 style="text-align: center;">11201 Ada Ave, Cleveland, OH 44108</h1>
  </div>
    {% block page_content %}
    <div class="row">
      <div class='col-md-8'>
        <div class="row">
          <img src="../static/136-18-117_main_pic.JPG" width="600"
          height="450" alt='11201 Ada Ave'>
        </div>
        <br/>
          <div class="row">
          <iframe
            title='House 3'
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBiwBE4lFa_KcGXVcaYacSwFEYC2p_BLBs&q=11201+Ada+Ave,+Cleveland,+OH" allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class='col-md-4'>
        <ul>
          <li>Latitude: {{ raw_data["lbstream"]['parcelid']['source'][0]["record"]['LATITUDE']["value"] }}</li>
          <li>Longitude: {{ raw_data["lbstream"]['parcelid']['source'][0]["record"]['LONGITUDE']["value"] }}</li>
          <li>Neighborhood: {{ raw_data["lbstream"]['parcelid']['source'][0]["record"]['neighbor']["value"] }}</li>
          <li>Number of Bedrooms: {{ raw_data["lbstream"]['parcelid']['source'][1]["record"]["bedrooms"]["value"] }}</li>
          <li>Number of Bathrooms: {{ raw_data["lbstream"]['parcelid']['source'][1]["record"]['baths']["value"] }}</li>
          <li>Number of Half-Bathrooms: {{ raw_data["lbstream"]['parcelid']['source'][1]["record"]['halfbath']["value"] }}</li>
          <li>Number of Rooms: {{ raw_data["lbstream"]['parcelid']['source'][1]["record"]['rooms']["value"] }}</li>
          <li>Number of Stories: {{ raw_data["lbstream"]['parcelid']['source'][1]["record"]['rnumstor']["value"] }}</li>
          <li>Total Living Area: {{ raw_data["lbstream"]['parcelid']['source'][1]["record"]['livatot']["value"] }}</li>
        </ul>
      </div>
    </div>
    {% endblock %}
    {% block footer %}
    <footer class="text-muted">
      <div class="container">
        <p style="color: black;">&copy; 2020 Stuart Kushner</p>
      </div>
    </footer>
  {% endblock %}
</div>
{% endblock %}
