{% extends "base.html" %}

{% block title %}9012 Kempton Avenue{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1 style="text-align: center;">9012 Kempton Avenue, Cleveland, OH 44108</h1>
    </div>
    {% block page_content %}
    <div class="row">
      <div class='col-md-8'>
        <div class="row">
          <img src="../static/109-02-088_main_pic.JPG" width="600"
        height="450" alt='9012 Kempton Avenue'>
        </div>
        <div class="row">
          <br/>
        <iframe
          title='House 1'
          width="600"
          height="450"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBiwBE4lFa_KcGXVcaYacSwFEYC2p_BLBs&q=9012+Kempton+Ave,Cleveland+OH" allowfullscreen>
        </iframe>
      </div>
      </div>
      <div class='col-md-4'>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
    {% endblock %}
    {% block footer %}
  <footer class="text-muted">
    <div class="container">
      <p style="color: black;">&copy; 2020 Stuart Kushner</p>
    </div>
  </footer>
{% endblock %}
</div>
{% endblock %}
