{% extends "base.html" %}

{% block title %}4140 E 112th Street{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
      <h1 style="text-align: center;">4140 E 112th Street, Cleveland, OH 44105</h1>
    </div>
    {% block page_content %}
    <div class="row">
      <div class='col-md-8'>
        <div class="row">
          <img src="../static/109-21-100_main_pic.JPG" width="600"
          height="450" alt='4140 E 112th Street'>
        </div>
        <br/>
          <div class="row">
          <iframe
            title='House 2'
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBiwBE4lFa_KcGXVcaYacSwFEYC2p_BLBs&q=4140+E+112th+St,+Cleveland,+OH" allowfullscreen>
          </iframe>
        </div>
      </div>
      <div class='col-md-4'>
        <ul>
          {{raw_data}}
        </ul>
      </div>
    </div>
    {% endblock %}
    {% block footer %}
    <footer class="text-muted">
      <div class="container">
        <p style="color: black;">&copy; 2020 Stuart Kushner</p>
      </div>
    </footer>
  {% endblock %}
</div>
{% endblock %}
