{% extends "base.html" %}

{% block title %}Houses{% endblock %}

{% block page_content %}
  <div class="container">
    <div class="page-header">
      <h1 style="text-align: center;">Check Out Our Houses!</h1>
    </div>
  </div>

  <div class="album py-5 bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/109-02-088_main_pic.JPG" style="height: 225px; width: 100%; display: block;" alt="9012 Kempton Avenue">
            <div class="card-body">
              <p class="card-text">9012 Kempton Avenue</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/house1" role="button">See Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/109-21-100_main_pic.JPG" style="height: 225px; width: 100%; display: block;" alt="4140 E 112th Street">
            <div class="card-body">
              <p class="card-text">4140 E 112th Street</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/house2" role="button">See Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/136-18-117_main_pic.JPG" style="height: 225px; width: 100%; display: block;" alt="11201 Ada Avenue">
            <div class="card-body">
              <p class="card-text">11201 Ada Avenue</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/house3" role="button">See Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/672-06-054_main_pic.JPG" style="height: 225px; width: 100%; display: block;" alt="1637 Elberon Ave">
            <div class="card-body">
              <p class="card-text">1637 Elberon Ave</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/house4" role="button">See Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/static/673-12-062_main_pic.JPG" style="height: 225px; width: 100%; display: block;" alt="1865 Allandale Ave">
            <div class="card-body">
              <p class="card-text">1865 Allandale Ave</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="/house5" role="button">See Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
